venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.DS_Store
*.log
*.coverage
.cache/
.vscode/
.idea/
*.egg-info/
dist/
build/
*.bak
frontend/__pycache__/__init__.cpython-39.pyc
frontend/__pycache__/view.cpython-39.pyc
