    <!--
    Page: Booking Page
    Purpose:
    - Hosts appointment scheduling (e.g., Calendly widget).
    - Lets clients select service, date, and time.

    Main Features:
    - Booking Confirmed
    - Back to Landing
    -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Document </title>
</head>
<body>

    Calendly API - booking page
    
    <!-- TO DO ADD CALENDLLY API -->
    
</body>
</html>